{% extends "base.html" %}

{%block main_content %}
	{%block main_header %}Información{%endblock%}
	{%block sub_header %}Locales y vehículos{%endblock%}

	
    {%block content_1 %}
			<div class="g_12">
				<div class="widget_header wwOptions">
					<h4 class="widget_header_title wwIcon i_16_data">Vehículos</h4>
				</div>

				<div class="widget_contents noPadding">
						<table class="datatable tables">
							<thead>
								<tr>
									<th>Nombre</th>
									<th>Descripción</th>
								</tr>
							</thead>
							<tbody>
								{% for l in vehiculos %}
								<tr>
									<td><a href="{{l.id}}"><span class="tab_link">{{l.denominacion}}</a></td>
									<td>{{l.descripcion}}</td>
								</tr>
								{% endfor%}
								</tbody>
						</table>
					</div>
				</div>
 	{%endblock%}

{%endblock%}
